@import './normalize';

body {
  height: 100vh;
  margin: 0;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 420px) {


}
