.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header {
  color: darkgrey;
  margin-right: auto;
}

.nav_item {
  padding: 0 1vw 0 1vw;
  text-align: center;
}

@media all and (max-width: 420px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .header {
    text-align: center;
    flex: 1 0 400px;
    margin-right: 0;
  }

  .nav-item {
    flex: 0 1 auto;
  }
}
